.horaAtual {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color:yellow;
    
    margin: 16px;
}